.service-content {
    position: relative;
    margin: 50px auto 0 auto;
    width: 80%;
    min-height: 600px;
    color: #fff;
}

.service-text p {
    font-size: 28px;
}

.sign-up-and-cancel {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.sign-up-and-cancel .service-box {
    width: 40%;
    height: 300px;
    border: 1px solid #58C3D1;
    background-color: rgba(88, 195, 209, 0.5);
    border-radius: 5px;
}

.sign-up-and-cancel .service-box .title {
    padding: 10px 0;
    font: normal 600 23px UniversBold;
    font-size: 20px;
    color: #888;
    height: 50px;
    text-align: center;
}

.service-box.cancel .title {
    color: #fff;
}

.sign-up-and-cancel .service-box .title .highlighted-text{
    color: #fff;
}

.check-box-section {
    margin-top: 25px;
    padding-left: 50px;
}

.sign-up .check-box-section label {
    color: #00e1ff;
}

.color-strip, .grey-strip {
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    line-height: 28px;
    height: 50px;
}

.color-strip {
    background: rgba(88, 195, 209, 0.5);
}

.grey-strip {
    background-color: #848484;
}

.sign-up-and-cancel ul{
    color: #fff;
    list-style-type: none;
}

.sign-up-and-cancel label .label-text{
    margin-left: 50px;
}

.list {
  margin: .5rem;
}

.list__item {
  margin: 0 0 1em 0;
  padding: 0;
}

.label--checkbox {
  position: relative;
  margin: .5rem;
  font-family: Arial, sans-serif;
  line-height: 135%;
  cursor: pointer;
  display: inline-flex;
}

.checkbox {
  position: relative;
  top: -0.375rem;
  margin: 0 1rem 0 0;
  cursor: pointer;
}
.checkbox:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 2em;
  height: 2em;
  border: 2px solid #f2f2f2;
  background: #fff;
}
.checkbox:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: 0.5em;
  border-color: #009688;
  border-top-style: none;
  border-right-style: none;
  background: green;
}
.checkbox:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1.1rem;
  height: 1.1rem;
  background: #fff;
  cursor: pointer;
}

.button--round {
  -webkit-transition: 0.3s background ease-in-out;
  -moz-transition: 0.3s background ease-in-out;
  transition: 0.3s background ease-in-out;
  width: 2rem;
  height: 2rem;
  background: #5677fc;
  border-radius: 50%;
  box-shadow: 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.25);
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.button--round i {
  font-size: 1rem;
  line-height: 220%;
  vertical-align: middle;
}
.button--round:hover {
  background: #3b50ce;
}

.button--sticky {
  position: fixed;
  right: 2rem;
  top: 16rem;
}

.content {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideUp;
  animation-name: slideUp;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(6.25rem);
    transform: translateY(6.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(6.25rem);
    transform: translateY(6.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.sign-up-btn {
    height: 50px;
    width: 180px;
    font-size: 18px;
    padding: 10px 20px;
    border: 1px solid #58C3D1;
    border-radius: 5px;
    background-color: rgba(88, 195, 209, 0.8) !important;
    color: #fff;
}

.update-address {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.update-address .free-item {
    width: 20%;
    height: 250px;
    background-color: rgba(88, 195, 209, 0.5);
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
}

.free-item .item-icon {
    padding: 20px 0;
}